* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    width: 100%;
    height: 100%;
}

#splash_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:99;
}

#splash_screen_text {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 33%;
	left: 25%;
	z-index:99;
}


#map {
    width: 100%;
    height: 90%;
	background-color: Gray;
}

#search_container {
	width: 100%;
	height: 10%;
	background-color: #5d9cec;
}

#search_input {
	display: block;
	margin : 0 auto;
	background: url('../img/ico_search_70.png') no-repeat scroll 6px 6px;
	background-color: white;
	background-size: 17px 17px;
	font-family: "Sans Serif", Verdana, Arial;
	font-size: 17px;
	padding-left: 34px;
	height: 50%;
	width: 80%;
	border: 0px;
}

#details_container {
	width: 100%;
	height: 100%;
	background-color: white;
	top: 10%;
	padding: 20px;
	color: black;
}

#details_container  hr{
	border-color: #e1e1e1;
}

#details_title{
	font-weight: bold;
}

#details_rating {
  width: 120px;
  height: 16px;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  clear: both;
  position: relative;
}

ul#details_rating li {
  cursor: pointer;
  float: left;
  text-indent: -999em;
}

.star {
	width: 20px;
	height: 20px;
	background: url('../img/ico-star-x2.png') no-repeat;
	background-size: 20px;
}

.star_empty {
	opacity: 0.5
}

#details_weather {
	float: right;
	background-size: 30px;
	width: 30px;
	height: 30px;
}

.sun {
	background: url('../img/ico-weather-sun-x2.png') no-repeat;
}

.cloud {
	background: url('../img/ico-weather-cloud-x2.png') no-repeat;
}

.rain {
	background: url('../img/ico-weather-rain-x2.png') no-repeat;
}

.details_temp_value {
	font-size: 20pt;
	display: block;
}

.details_header {
	color: #afafaf;
}

#details_air {
	width: 50%;
}

#details_water {
	width: 50%;
	float: right;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}