* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    width: 100%;
    height: 100%;
}

#splash_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:99;
}

#splash_screen_text {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 33%;
	left: 25%;
	z-index:99;
}


#map {
    width: 100%;
    height: 90%;
	background-color: Gray;
}

#search_container {
	width: 100%;
	height: 10%;
	background-color: #5d9cec;
}

#search_input {
	display: block;
	margin : 0 auto;
	background: url('../img/ico_search_70.png') no-repeat scroll 8px 8px;
	background-color: white;
	background-size: 17px 17px;
	font-family: "Sans Serif", Verdana, Arial;
	font-size: 17px;
	padding-left: 34px;
	height: 50%;
	width: 80%;
	border: 0px;
}

#details_container {
	width: 100%;
	height: 100%;
	background-color: white;
	top: 10%;
	color: black;
	display: none;
}

.details_head {
	padding: 20px;
}

#details_container  hr{
	border: 2px solid #e1e1e1;
	margin: 10px 20px;
}

#details_title{
	font-weight: bold;
	font-size: 18pt;
}

#details_rating {
  width: 120px;
  height: 16px;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  clear: both;
  position: relative;
  display: inline;
}

#details_rating_num{
  display: inline;
}

ul#details_rating li {
  cursor: pointer;
  float: left;
  text-indent: -999em;
}

.star {
	width: 20px;
	height: 20px;
	background: url('../img/ico-star-x2.png') no-repeat;
	background-size: 20px;
}

.heart {
	float: left; 
	font-size: 24pt; 
	color: #FD5C4A; 
	margin-right: 10px;
}

.smiley, .frowny  {
	width: 30px;
	height: 30px;
	background-size: 30px !important;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

.smiley.active  {
	background: url('../img/icon-smiley-Y-x2.png') no-repeat;
}

.smiley.inactive  {
	background: url('../img/icon-smiley-Y-notactive-x2.png') no-repeat;
}

.frowny.active  {
	background: url('../img/icon-smiley-N-x2.png') no-repeat;
}

.frowny.inactive  {
	background: url('../img/icon-smiley-N-notactive-x2.png') no-repeat;
}

#details_weather {
	float: right;
	background-size: 50px;
	width: 50px;
	height: 50px;
	margin: 10px;
}

.sun {
	background: url('../img/ico-weather-sun-x2.png') no-repeat;
}

.cloud {
	background: url('../img/ico-weather-cloud-x2.png') no-repeat;
}

.rain {
	background: url('../img/ico-weather-rain-x2.png') no-repeat;
}

.dimmed {
	opacity: 0.4;
}

.details_temp_value {
	font-size: 20pt;
	font-weight: bold;
	display: block;
}

.details_item_value  {
	font-size: 12pt;
	display: block;
}

.details_header {
	color: #afafaf;
	display: block;
}

.details_text {
	font-size: 12pt;
	display: block;
	padding: 20px;
	text-transform: none;
}

.details_infotext {
	background-color: #FFCE55;
	font-size: ;
	color: white;
	padding: 20px;
	width: 80%;
	margin: 0px auto;
}
.details_item {
	padding: 10px 20px;
}

#details_air , #details_wspeed, .details_item_left{
	width: 50%;
	padding: 10px 20px;
}

#details_water, #details_wdirection , .details_item_right{
	width: 50%;
	float: right;
	padding: 10px 0px;
}

#details_photos {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  clear: both;
  position: relative;
  display: inline;
}

#details_pictures {
  margin-top: 20px;
}

ul#details_photos li {
  float: left;
}

.photo {
	width: 33%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}